@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="border-radius: 15px; box-shadow: 5px 5px 5px 5px black;">
    <h1 class="display-4" style="padding:1.2em;">LendBorrow početna stranica</h1>
    
</div>
<div class="text-center mx-2" style="border-radius: 15px; box-shadow: 5px 5px 5px 5px black; margin-top: 2em; padding: 1.5em;">
    <h2 class="display-5" style="padding:1em;">Opis Projekta</h2>
    <p>Ovaj projekat omogućava praćenje posuđenih i iznajmljenih stvari, kao i troškova .
        U ovom projektu implementirane su osnovne CRUD(Create, Read, Update i Delete) operacije. Projekat koristi Sql Server 2019 i .net 5.0.
        Pri kreiranju projekta upotrebljen je MVC(Model, View, Component) pattern. U Posuđeno/iznajmljeno sekciji stranice prikazana je lista podataka u koju
    korisnik može dodavati podatke putem forme. Lista predstavlja informacije o posuđenim/iznajmljenim stvarima. U dijelu Troškovi korisnik može dodavati nove,
uređivati trenutne i brisati već unesene troškove. U zadnjem dijelu stranice korisnik može kreirati nove tipove troškova koji se kasnije pojavljuju pri kreiranju novog troška.</p>
</div>